.heading{
	font-family: 'work san',sans-serif;
	font-weight:bold;
}


.footer{
	text-align-last: center;
	background-color: powderblue;
}
.carousel{
	color: black;
	background-color: black;
}
.image{
	width: 100%;
	height: 50%;
}